@model string
@{
    ViewData["Title"] = "Birth Defect Registry";
 }
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <p>This is Birth Defect Registry Listing.....</p>
    <p>@Model</p>
</div>


